@{
    ViewBag.Title = "Кабинет пользователя";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


<body style="background-image: url(../../image/6.jpg)">
</body>
<aside>
    <h3>Таблицы базы данных</h3>
    <p>
        Просмотр и редактирование данных в таблицах
    </p>
    <ul>
        <li>@Html.ActionLink("Категории ошибок", "Index", "Categories")</li>
        <li>@Html.ActionLink("Программные модули", "Index", "Modules")</li>
        <li>@Html.ActionLink("Статусы ошибок", "Index", "Statuses")</li>
        <li>@Html.ActionLink("Разработчики", "Index", "Razrabotchiki")</li>
        <li>@Html.ActionLink("Ошибки", "Index", "Oshibki")</li>
    </ul>
</aside>
<aside>
    <h3>График</h3>
    <p>
        Просмотреть график статусов ошибок
    </p>
    <ul>
        <li>@Html.ActionLink("График", "Grafic", "Home")</li>
    </ul>
</aside>